.about {
  padding-top: 120px;
  border-bottom: 1px solid #d9d9d9;
}

.about__content {
  justify-content: space-between;
  padding-bottom: 120px;
}

.about__title {
  max-width: 554px;
}

.about__text {
  max-width: 496px;
}

.divider {
  height: 1px;
  width: 100%;
  background: #d9d9d9;
}
