.btn {
  white-space: nowrap;
  padding: 12px 16px;
  border-radius: 5px;
  border: none;
  background: #3e8bf3;
  color: #fff;
}

.btn.btn_white {
  background: #f5f9fe;
  color: #6f767e;
}

.btn_promo {
  padding: 16px 24px;
  margin-bottom: 32px;
}

.btn_feature {
  padding: 12px 24px;
}

.btn_country {
  margin-right: 16px;
  padding: 12px 24px;
}

.btn_exchange {
  padding: 12px 24px;
}
