.btn {
  white-space: nowrap;
  padding: 12px 16px;
  border-radius: 5px;
  border: none;
  background: #3e8bf3;
  color: #fff;
}

.btn.btn--white {
  background: #fff;
  color: #000;
}

.btn_promo {
  padding: 16px 24px;
  margin-bottom: 32px;
}

.btn_feature {
  padding: 12px 24px;
}
