.btn {
  white-space: nowrap;
  padding: 12px 16px;
  border-radius: 5px;
  border: none;
  background: #3e8bf3;
  color: #fff;
  transition: all 0.3s;
}

.btn:hover {
  background: #3474ca;
  transition: all 0.3s;
}

.btn:active {
  background: #295da2;
}

.btn.btn_white {
  background: #f5f9fe;
  color: #6f767e;
}

.btn.btn_white:hover {
  background: #e3eefd;
  transition: all 0.3s;
}

.btn.btn_white:active {
  background: #bfd8fb;
}

.btn_promo {
  padding: 16px 24px;
  margin-bottom: 32px;
}

.btn_feature {
  padding: 12px 24px;
}

.btn_country {
  margin-right: 16px;
  padding: 12px 24px;
}

.btn_exchange {
  padding: 12px 24px;
}

@media (max-width: 530px) {
  .btn {
    padding: 8px 12px;
  }
  .btn.btn_promo {
    padding: 12px 24px;
    margin-bottom: 24px;
  }
}
