.country.container {
  padding-top: 120px;
  border-bottom: 1px solid #d9d9d9;
}

.country__content {
  min-height: 100%;
  min-width: 100%;

  position: absolute;
}

.country__menu {
  display: table;
  padding: 8px;
  background: #f5f9fe;
  border-radius: 16px;
  margin-bottom: 64px;
  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    li {
      list-style-type: none;

      a {
        padding: 8px 16px;

        display: flex;
        align-items: center;
        color: #6f767e;

        img {
          padding-right: 8px;
        }
      }
    }
  }
}

.country__menu li a:hover {
  background: #fff;
  border-radius: 8px;
  color: black;
  transition: all 0.3s;
}

.country__title {
  max-width: 452px;
  margin-bottom: 32px;
}

.country__map {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 120px;
}

.country__map-turkey {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.country__map-kazakhstan {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.country__map-ukraine {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.country__map-belarus {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.country__map-russia {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

@media (max-width: 1150px) {
  .country__content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .country__menu {
    ul {
      flex-direction: row;
      li {
      }
    }
  }
}
