.exchange {
  margin-top: 76px;

  background: #f5f9fe;
}

.exchange__container {
  align-items: center;
}

.exchange__content {
  max-width: 496px;
}

.exchange__title {
  margin-bottom: 32px;
}

.exchange__description {
  margin-bottom: 32px;
}

.exchange__img-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 106px;
}

.exchange__img {
  margin-top: -76px;
  max-width: 515px;
}

@media (max-width: 1200px) {
  .exchange__img-container {
    margin-right: 0;
  }
}

@media (max-width: 1070px) {
  .exchange__content {
    flex: 0;
  }
  .exchange__img-container {
    flex: 1;
  }
}
