.faq {
  padding: 120px 0;
  justify-content: space-between;
}

.faq__left {
  max-width: 222px;
}

.faq__left h2 {
  margin-bottom: 32px;
}

.faq__menu {
  border-top: 1px solid #d9d9d9;

  width: 808px;
}

.faq__item {
  border-bottom: 1px solid #d9d9d9;
}

.faq__question {
  margin: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  cursor: pointer;
  transition: background 0.9s ease-out;
}

.faq__question:hover {
  color: #6f767e;
}

.faq__input {
  width: 0;
  height: 0;

  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.faq__text {
  margin: 24px;
  display: none;
  color: #6f767e;
}

.faq__text.expanded {
  max-height: 1000px; /* Или любое другое достаточно большое значение */
  transition: max-height 2s ease-out;
}

.faq__input:checked ~ .faq__text {
  display: block;
}

.minus-icon {
  display: none;
}
