.features {
  padding-top: 120px;
  border-bottom: 1px solid #d9d9d9;
}

.feature__top {
  justify-content: space-between;
  margin-bottom: 48px;
}

.feature__title {
  max-width: 452px;
}

.feature__cell-step {
  max-width: 392px;
}

.feature__cells-steps {
  justify-content: space-between;
  padding-bottom: 120px;
}

.feature__cell-img {
  max-width: 100%;
  max-height: 240px;
  margin-bottom: 17px;
}

.feature__flag {
  max-height: 32px;
  padding: 4px 16px;
  display: table;
  border-radius: 24px;
  margin-bottom: 24px;
}

.feature__flag_pink {
  background: #dfd3f7;
}

.feature__flag_blue {
  background: #c0e1ee;
}

.feature__flag_green {
  background: #d0e5c2;
}

.feature__title {
  margin-bottom: 24px;
}

.feature_mid {
  display: none;
}

@media (max-width: 1250px) {
  .features {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: none;
  }
  .feature__top.flex {
    flex-direction: column;
    justify-content: flex-start;
  }

  .feature__cell-step.feature__cell-step_big {
    display: none;
  }
  .feature_mid {
    display: inline;
    border-bottom: 1px solid #d9d9d9;
  }

  .features__cells-step.features__cells-step_mid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
