@import url(../fonts/TTFirsNeue-Medium/style.css);

h1,
.h1 {
  font-size: 64px;
  line-height: 72px;
}

h2,
.h2 {
  font-size: 48px;
  line-height: 56px;
}

h3,
.h3 {
  font-size: 24px;
  line-height: 32px;
}

h4,
.h4 {
  font-size: 32px;
  line-height: 40px;
}

p,
.p {
  font-size: 16px;
  line-height: 24px;
  color: #6f767e;
}

.font-small {
  font-size: 12px;
  line-height: 16px;
}

.font-medium {
  font-size: 18px;
  line-height: 32px;
}

.font-big {
  font-size: 20px;
  line-height: 32px;
}

@media (max-width: 1070px) {
  h1,
  .h1 {
    font-size: 48px;
    line-height: 56px;
  }
}

@media (max-width: 590px) {
  h2,
  .h2 {
    font-size: 44px;
    line-height: 52px;
  }
}

@media (max-width: 530px) {
  h1,
  .h1 {
    font-size: 32px;
    line-height: 40px;
  }
  h2,
  .h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3,
  .h3 {
    font-size: 20px;
    line-height: 32px;
  }
  h4,
  .h4 {
    font-size: 24px;
    line-height: 32px;
  }
  p,
  .p {
    font-size: 14px;
    line-height: 20px;
  }

  .font-medium {
    font-size: 14px;
    line-height: 24px;
  }

  .font-big {
    font-size: 16px;
    line-height: 24px;
  }
}
