.footer {
  padding: 64px 0;
  justify-content: space-between;
  align-items: center;
  color: #6f767e;
}

.footer__mid {
  margin-right: -220px;
}

.privacy {
  margin-left: 32px;
}

.privacy {
  transition: all 0.3s;
}

.privacy:hover {
  color: #3e8bf3;
  transition: all 0.3s;
}

.use {
  transition: all 0.3s;
}

.use:hover {
  color: #3e8bf3;
  transition: all 0.3s;
}

@media (max-width: 1070px) {
  .footer {
    padding: 32px 0;
  }
  .footer__mid {
    margin-right: 0;
  }
}
