.modal-connect {
  display: none;
  flex-direction: column;
  width: 600px;
}

section.modal-connect.fancybox__content {
  display: flex;
  padding: 64px 80px;
  border-radius: 16px;
}

.f-button {
  color: #6f767e;
}

.fancybox__content > .f-button.is-close-btn {
  top: 17px;
  right: 20px;
  opacity: 1;
}

.modal-connect__title {
  margin-bottom: 32px;
}

.modal-connect__choice-subtitle {
  margin-bottom: 10px;
}

.modal-connect__choice {
  text-align: start;
  padding: 12px 24px;
  margin-bottom: 32px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.modal-connect__choice select {
  height: 100%;
  width: 100%;
  margin-left: -4px;
  cursor: pointer;
  transition: all 0.3s;
}

select:hover {
  color: #6f767e;
  transition: all 0.3s;
}

select:focus {
  outline: 0;
  border-color: none;
}

.modal-connect__user-name-subtitle {
  margin-bottom: 10px;
}

.modal-connect__user-name-input {
  padding: 12px 24px;
  margin-bottom: 32px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.modal-connect__user-email-subtitle {
  margin-bottom: 10px;
}

.modal-connect__user-email-input {
  padding: 12px 24px;
  margin-bottom: 32px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.modal-connect-successfully {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-connect-successfully__img {
  width: 88px;
  height: 88px;
  margin-bottom: 32px;
}

.modal-connect-successfully__title {
  margin-bottom: 16px;
}

.modal-connect-successfully__description {
  text-align: center;
  margin-bottom: 32px;
}

@media (max-width: 430px) {
  section.modal-connect.fancybox__content {
    padding: 24px;
  }
}

@media (max-width: 360px) {
  .modal-connect__title {
    max-width: 188px;
  }
}
