.promo {
  background: #f5f9fe;
}

.promo__container {
  justify-content: space-between;
  align-items: center;
}

.promo__content {
  flex: 2;
  max-width: 600px;
}

.promo__content-title {
  margin-bottom: 32px;
  max-width: 540px;
}

.promo__content-smart-text {
  margin: 0 8px;
}

.promo__img-container {
  flex: 1;
  max-width: 600px;
}

.promo__img {
  margin-top: 57px;
  margin-bottom: 111px;
  max-width: 100%;
}

.promo__footer {
  justify-content: space-between;
  padding-bottom: 24px;
  margin: 0 24px;
}

.promo__footer-left {
  align-items: center;
}

.promo__scroll-icon {
  background: #fff;
  border-radius: 50%;
  fill: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  height: 24px;
  width: 24px;
  margin-right: 16px;
}

.promo__scroll-title {
  transition: all 0.3s;
}

.promo__scroll-title:hover {
  color: #3e8bf3;
  transition: all 0.3s;
}

.promo__footer-right {
  align-items: center;
}

.promo__social-media {
  align-items: center;
}

@media (max-width: 1070px) {
  .promo__content {
    max-width: 500px;
  }
  .promo__content-title {
    max-width: 400px;
  }
}

@media (max-width: 900px) {
  .promo__content {
    max-width: 400px;
  }
}

@media (max-width: 728px) {
  .promo__container.flex {
    flex-direction: column-reverse;
  }

  .promo__img-container {
    max-width: 452px;
  }

  .promo__content {
    max-width: 677px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
  }

  .promo__content-title {
    max-width: 100%;
    text-align: center;
  }
}
