* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "TT Firs Neue";
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
  flex-direction: row;
}

.grey-color {
  color: #6f767e;
}

.header__wrapper {
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 20px 24px;
}

.header__left {
  align-items: center;
}

.header__divider {
  width: 1px;
  height: 48px;
  background: #d9d9d9;
  margin: 0 24px;
}

.menu {
  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
    li {
      list-style-type: none;
      color: #6f767e;
      a {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

.header__right {
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 1224px;
}

.language-btn {
  margin: 0 24px;
}

.language-btn__icon-country {
  padding: 0 8px;
}
