$grey-color: color(#6f767e);

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "tt_firs_neue";
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
  flex-direction: row;
}

.header__wrapper {
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 20px 24px;
}

.header__left {
  align-items: center;
}

.header__divider {
  width: 1px;
  height: 48px;
  background: #d9d9d9;
  margin: 0 24px;
}

.menu {
  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
    li {
      list-style-type: none;
      color: #6f767e;
      a {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

.header__right {
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 1224px;
}

.btn {
  height: 48px;
  white-space: nowrap;
  padding: 12px;
  border-radius: 5px;
  border: none;
  background: #3e8bf3;
  color: #fff;
}

.language-btn__icon-country {
  padding: 0 8px;
}

.btn.btn--white {
  background: #fff;
  color: #000;
}
