<section class="about container" id="about-id">
  <div class="about__content flex">
    <h2 class="about__title">
      Ведущая платформа для торговли цифровыми активами
    </h2>

    <div class="about__text font-medium grey-color">
      Широкий спектр услуг по торговле и управлению цифровыми активами для
      удовлетворения разнообразных торговых потребностей. Всесторонняя защита
      пользовательских активов с нашим автономным хранилищем, многофакторным
      шифрованием и круглосуточным мониторингом безопасности.
    </div>
  </div>
</section>
