<section class="country container">
  <div class="country__content">
    <div class="country__menu">
      <ul>
        <li>
          <a href="#"
            ><img src="images/img-country/russia-icon.png" alt="" />Россия</a
          >
        </li>
        <li>
          <a href="#"
            ><img src="images/img-country/ukraine-icon.png" alt="" />Украина</a
          >
        </li>
        <li>
          <a href="#"
            ><img src="images/img-country/turkey-icon.png" alt="" />Турция</a
          >
        </li>
        <li>
          <a href="#"
            ><img
              src="images/img-country/kazakhstan-icon.png"
              alt=""
            />Казахстан</a
          >
        </li>
        <li>
          <a href="#"
            ><img src="images/img-country/belarus-icon.png" alt="" />Беларусь</a
          >
        </li>
      </ul>
    </div>
    <h2 class="country__title">Страны, с которыми уже работает сервис</h2>
    <div class="country__btns">
      <button class="btn btn_country font-medium">Launch app</button>
      <button class="btn btn_white btn_country font-medium">
        Подключить мою страну
      </button>
    </div>
  </div>
  <div class="country__map">
    <img class="country__map-img" src="images/img-country/map-img.png" alt="" />
  </div>
</section>
