<section class="exchange" id="exchange-id">
  <div class="exchange__container container flex">
    <div class="exchange__content">
      <h2 class="exchange__title">Обменяйте средства за считанные минуты</h2>
      <p class="exchange__description font-medium">
        Широкий спектр услуг по торговле и управлению цифровыми активами для
        удовлетворения разнообразных торговых потребностей
      </p>
      <button class="btn btn_exchange font-medium">Launch app</button>
    </div>

    <img
      class="exchange__img"
      src="images/img-exchange/exchange-img.png"
      alt=""
    />
  </div>
</section>
