<section class="faq container flex">
  <div class="faq__left">
    <h2>FAQ</h2>
    <p>Найдите ответы, на интересующие вопросы</p>
  </div>
  <div class="accordion">
    <div class="accordion__item">
      <div class="accordion__header">
        <h3>How does staking work?</h3>
        <img
          class="accordion__icon-plus"
          src="images/img-faq/plus-icon.svg"
          alt=""
        />
        <img
          class="accordion__icon-minus"
          src="images/img-faq/minus-icon.svg"
          alt=""
        />
      </div>
      <div class="accordion__content">
        <p class="accordion__text">
          Staking is a method of verifying and securing transactions on proof of
          stake blockchains. It’s faster and more energy efficient than other
          methods such as proof of work. Plus, participants get rewarded for
          helping in the process. In exchange for delegating your crypto, you
          get rewarded with more assets from the network. To generate staking
          rewards on a Proof of Stake blockchain, a node has to designate a
          certain amount of tokens on the network as a stake (similar to a
          security deposit). The chance of that node being chosen to validate
          the next block is typically proportional to the number of tokens being
          staked. If the node successfully validates a block, it is awarded the
          staking reward, similar to a miner being rewarded in Proof of Work
          chains. Validators lose part of their stake if they approve a
          fraudulent transaction — this incentivizes them to only approve valid
          transactions.
        </p>
      </div>
    </div>
    <div class="accordion__item">
      <div class="accordion__header">
        <h3>Which Proof of Stake asset(s) earn staking rewards?</h3>
        <img
          class="accordion__icon-plus"
          src="images/img-faq/plus-icon.svg"
          alt=""
        />
        <img
          class="accordion__icon-minus"
          src="images/img-faq/minus-icon.svg"
          alt=""
        />
      </div>
      <div class="accordion__content">
        <p class="accordion__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
          ullam esse vero consectetur ab, voluptatem quos officiis quis at
          deleniti adipisci labore dolore optio pariatur officia expedita
          eligendi error sint voluptate! Culpa, pariatur accusantium.
        </p>
      </div>
    </div>
    <div class="accordion__item">
      <div class="accordion__header">
        <h3>Who is eligible to stake on DEPO?</h3>
        <img
          class="accordion__icon-plus"
          src="images/img-faq/plus-icon.svg"
          alt=""
        />
        <img
          class="accordion__icon-minus"
          src="images/img-faq/minus-icon.svg"
          alt=""
        />
      </div>
      <div class="accordion__content">
        <p class="accordion__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
          ullam esse vero consectetur ab, voluptatem quos officiis quis at
          deleniti adipisci labore dolore optio pariatur officia expedita
          eligendi error sint voluptate! Culpa, pariatur accusantium.
        </p>
      </div>
    </div>
    <div class="accordion__item">
      <div class="accordion__header">
        <h3>How does ETH staking work?</h3>
        <img
          class="accordion__icon-plus"
          src="images/img-faq/plus-icon.svg"
          alt=""
        />
        <img
          class="accordion__icon-minus"
          src="images/img-faq/minus-icon.svg"
          alt=""
        />
      </div>
      <div class="accordion__content">
        <p class="accordion__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
          ullam esse vero consectetur ab, voluptatem quos officiis quis at
          tenetur provident. Rerum tenetur facere quae dolores recusandae
          perspiciatis beatae voluptate? Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Ea odit ipsum quisquam est ex autem, veritatis
          blanditiis impedit distinctio cum itaque saepe placeat quos atque unde
          maiores officiis libero quo. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Quam dolorem soluta vitae aut, voluptatem quaerat
          deleniti adipisci labore dolore optio pariatur officia expedita
          eligendi error sint voluptate! Culpa, pariatur accusantium.
        </p>
      </div>
    </div>
    <div class="accordion__item">
      <div class="accordion__header">
        <h3>What are the risks associated with staking?</h3>
        <img
          class="accordion__icon-plus"
          src="images/img-faq/plus-icon.svg"
          alt=""
        />
        <img
          class="accordion__icon-minus"
          src="images/img-faq/minus-icon.svg"
          alt=""
        />
      </div>
      <div class="accordion__content">
        <p class="accordion__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
          ullam esse vero consectetur ab, voluptatem quos officiis quis at
          deleniti adipisci labore dolore optio pariatur officia expedita
          eligendi error sint voluptate! Culpa, pariatur accusantium.
        </p>
      </div>
    </div>
    <div class="accordion__item">
      <div class="accordion__header">
        <h3>How do I earn DeFi yield on DEPO?</h3>
        <img
          class="accordion__icon-plus"
          src="images/img-faq/plus-icon.svg"
          alt=""
        />
        <img
          class="accordion__icon-minus"
          src="images/img-faq/minus-icon.svg"
          alt=""
        />
      </div>
      <div class="accordion__content">
        <p class="accordion__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
          ullam esse vero consectetur ab, voluptatem quos officiis quis at
          deleniti adipisci labore dolore optio pariatur officia expedita
          eligendi error sint voluptate! Culpa, pariatur accusantium.
        </p>
      </div>
    </div>
    <div class="accordion__item">
      <div class="accordion__header">
        <h3>What’s the difference between staking and DeFi yield?</h3>
        <img
          class="accordion__icon-plus"
          src="images/img-faq/plus-icon.svg"
          alt=""
        />
        <img
          class="accordion__icon-minus"
          src="images/img-faq/minus-icon.svg"
          alt=""
        />
      </div>
      <div class="accordion__content">
        <p class="accordion__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
          ullam esse vero consectetur ab, voluptatem quos officiis quis at
          deleniti adipisci labore dolore optio pariatur officia expedita
          eligendi error sint voluptate! Culpa, pariatur accusantium.
        </p>
      </div>
    </div>
  </div>
</section>
