<section class="features container">
  <div class="feature__top flex">
    <h2 class="feature__title">Совершите обмен за 3 шага</h2>
    <div class="feature__btn">
      <button class="btn btn_feature font-medium">Начать обмен</button>
    </div>
  </div>
  <div class="feature__cells-steps flex">
    <div class="feature__cell-step">
      <img
        class="feature__cell-img"
        src="images/img-feature/step1-img.svg"
        alt=""
      />
      <div class="feature__flag feature__flag_pink">Шаг 1</div>
      <h3 class="feature__title-cell">Создай или найди сделку</h3>
      <p class="feature__description">
        Широкий спектр услуг по торговле и управлению цифровыми активами для
        удовлетворения
      </p>
    </div>
    <div class="feature__cell-step feature__cell-step_big">
      <img
        class="feature__cell-img"
        src="images/img-feature/step2-img.svg"
        alt=""
      />
      <div class="feature__flag feature__flag_blue">Шаг 2</div>
      <h3 class="feature__title-cell">Безопасно переведи средства</h3>
      <p class="feature__description">
        Широкий спектр услуг по торговле и управлению цифровыми активами для
        удовлетворения
      </p>
    </div>
    <div class="feature__cell-step feature__cell-step_big">
      <img
        class="feature__cell-img"
        src="images/img-feature/step3-img.svg"
        alt=""
      />
      <div class="feature__flag feature__flag_green">Шаг 3</div>
      <h3 class="feature__title-cell">Заверши обмен</h3>
      <p class="feature__description">
        Широкий спектр услуг по торговле и управлению цифровыми активами для
        удовлетворения
      </p>
    </div>
  </div>
  <div class="feature__btn-small">
    <button class="btn btn_feature font-medium">Начать обмен</button>
  </div>
</section>
<section class="feature_mid container">
  <div class="features__cells-step features__cells-step_mid container">
    <div class="feature__cell-step feature__cell-step_mid">
      <img
        class="feature__cell-img"
        src="images/img-feature/step2-img.svg"
        alt=""
      />
      <div class="feature__flag feature__flag_blue">Шаг 2</div>
      <h3 class="feature__title-cell">Безопасно переведи средства</h3>
      <p class="feature__description">
        Широкий спектр услуг по торговле и управлению цифровыми активами для
        удовлетворения
      </p>
    </div>
    <div class="feature__cell-step feature__cell-step_mid">
      <img
        class="feature__cell-img"
        src="images/img-feature/step3-img.svg"
        alt=""
      />
      <div class="feature__flag feature__flag_green">Шаг 3</div>
      <h3 class="feature__title-cell">Заверши обмен</h3>
      <p class="feature__description">
        Широкий спектр услуг по торговле и управлению цифровыми активами для
        удовлетворения
      </p>
    </div>
  </div>
  <div class="devider container"></div>
</section>
