<footer class="footer container flex">
  <div class="footer__left font-small">© DEPO 2022</div>
  <div class="footer__mid flex">
    <div class="use font-small">Terms of Use</div>
    <div class="privacy font-small">Privacy policy</div>
  </div>
  <div class="footer__right">
    <div class="social-media flex">
      <div class="social-media__title grey-color font-small">
        Наши социальные сети
      </div>
      <div class="social-media__icons flex">
        <div class="social-media__icon flex">
          <img
            class="social-media-img"
            src="images/img-promo/facebook-icon.svg"
            alt=""
          />
        </div>
        <div class="social-media__icon flex">
          <img
            class="social-media-img"
            src="images/img-promo/twitter-icon.svg"
            alt=""
          />
        </div>
        <div class="social-media__icon flex">
          <img
            class="social-media-img"
            src="images/img-promo/instagram-icon.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</footer>


<script  src = 'js/main.min.js';>
  </script>
</body>
</html>
