<header class="header header_js">
  <div class="header__wrapper flex">
    <div class="header__left flex">
      <div class="header__logo flex">
        <img class="header__logo-img" src="images/img-header/logo.svg" alt="" />
        <div class="header__divider"></div>
      </div>
      <nav class="menu flex">
        <ul id="menu-list-id">
          <li>
            <a href="#about-id">О нас</a>
          </li>
          <li>
            <a href="#features-id">Как это работает</a>
          </li>
          <li>
            <a href="#country-id">Где работаем</a>
          </li>
          <li>
            <a href="#faq-id">FAQ</a>
          </li>
          <li>
            <a href="#exchange-id">Приложение</a>
          </li>
          <div class="menu__drop-down-devider"></div>
          <div class="font-small grey-color">Выберите язык</div>
          <a class="language-btn__menu-cell flex">
            <img
              class="language-btn__menu-img"
              src="images/img-header/russia-icon.svg"
              alt=""
            />
            <p>Русский</p>
          </a>
          <a class="language-btn__menu-cell flex">
            <img
              class="language-btn__menu-img"
              src="images/img-country/ukraine-icon.png"
              alt=""
            />
            <p>English</p>
          </a>
        </ul>
      </nav>
    </div>
    <div class="header__right flex">
      <div class="language__wrapper">
        <a class="language-btn flex" href="#">
          <img
            class="language-btn__icon-country"
            src="images/img-header/russia-icon.svg"
            alt=""
          />
          <div class="language-btn__text">Русский</div>
          <img
            class="language-btn__icon-arrow"
            src="images/img-header/arrow-bottom-icon.svg"
            alt="arrow-bottom-icon"
          />
        </a>
        <div class="language-btn__menu">
          <a class="language-btn__menu-cell flex">
            <img
              class="language-btn__menu-img"
              src="images/img-header/russia-icon.svg"
              alt=""
            />
            <p>Русский</p>
          </a>
          <a class="language-btn__menu-cell flex">
            <img
              class="language-btn__menu-img"
              src="images/img-country/ukraine-icon.png"
              alt=""
            />
            <p>English</p>
          </a>
        </div>
      </div>
      <button class="btn">Launch app</button>
      <button class="menu__btn-drop-down">
        <img src="images/img-header/menu-drop-down-img.svg" alt="" />
      </button>
    </div>
  </div>
</header>
