<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.min.css" />
  </head>
  <body>
    <header class="header">
      <nav class="nav-bar">
        <img class="nav-bar__img" src="images/img-header/logo.svg" alt="" />
        <img class="divider" src="images/img-header/divider.svg" alt="" />
        <ul class="menu__list">
          <li class="menu__list-item">
            <a class="menu__list-link" href="">О нас</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="">Как это работает</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="">Где работаем</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="">FAQ</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="">Контакты</a>
          </li>
        </ul>
        <div class="container">
          <a href="" class="language-btn">
            <img
              class="language-btn__icon-country"
              src="images/img-header/russia-icon.svg"
              alt=""
            />
            <h6 class="language-btn__text">Русский</h6>
            <img
              class="language-btn__icon-arrow"
              src="images/img-header/arrow-bottom-icon.svg"
              alt="arrow-bottom-icon"
            />
          </a>
          <button class="btn-full-color">Launch app</button>
        </div>
      </nav>
    </header>
  </body>
</html>
