<section class="promo">
  <div class="promo__container container flex">
    <div class="promo__content">
      <h1 class="promo__content-title font-gigantic">
        Обменивай <br />
        крипту и фиат <br />
        без ограничений
      </h1>
      <button class="btn btn_promo font-big">Launch app</button>
      <div class="promo__content-smart flex">
        <img
          class="promo__content-smart-img"
          src="images/img-promo/smart-img.svg"
          alt=""
        />
        <div class="promo__content-smart-text grey-color">
          Работает на смарт-контрактах
        </div>
      </div>
    </div>
    <img class="promo__img" src="images/img-promo/promo-img.png" alt="" />
  </div>
  <div class="promo__footer flex">
    <div class="promo__footer-left flex">
      <div class="scroll-down">
        <div class="circle circle_arrow">
          <img src="images/img-header/arrow-bottom-icon.svg" alt="" />
        </div>
      </div>
      <div class="scroll-down__text grey-color font-small">Листайте вниз</div>
    </div>
    <div class="promo__footer-right flex">
      <div class="social-media flex">
        <div class="social-media__title grey-color font-small">
          Наши социальные сети
        </div>
        <div class="social-media__icons flex">
          <div class="social-media__icon flex">
            <img
              class="social-media-img"
              src="images/img-promo/facebook-icon.svg"
              alt=""
            />
          </div>
          <div class="social-media__icon flex">
            <img
              class="social-media-img"
              src="images/img-promo/twitter-icon.svg"
              alt=""
            />
          </div>
          <div class="social-media__icon flex">
            <img
              class="social-media-img"
              src="images/img-promo/instagram-icon.svg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
